*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #26335D;
     position: relative; 

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

nav{
    display: flex;
    gap: 30px;
}
header h4{
    margin: 30px;
    color: #FFFFFF;
}

header nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
}

.nav-buttons{
    display: flex;
    gap: 15px;
}

header .login{
    background: transparent;
    color: white;
    border: none;
}
main{
    position: relative;
    left: 100px;
    margin-top: 50px;
    /* margin-bottom: 500px;   */
    width: 500px;
}

main h5{
    color: #1BC768;
    margin-bottom: 10px;
}

main h1{
    color: #FFFFFF;
    margin-bottom: 20px;
    /* font-weight: bolder; */
    padding-top: 22px;
    font-size: 70px;
}

main p{
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
}

header .join{
     background-color: #1BC768;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.Quote{
    padding: 10px 20px;
    margin-right: 10px;
    color: #FFFFFF;
    background-color: #1BC768;
    border-radius: 4px;
    border-color: #1BC768;
    padding: 3%;
    border-style: none;
}

.learn{
    padding: 10px 20px;
    margin-right: 10px;
    color: #1BC768;
    background-color: #26335D;
    border-radius: 4px;
    border-color: #1BC768;
    padding: 3%;
   
}

/* image on right */
.right-img{
    position:absolute; 
    right: 100px;
    top: 150px;   
    width: 400px; 
}
