*{
    padding: 0;
    margin: 0;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 100px;
}
header nav{
    display: flex;
    gap: 30px;
}
header nav a{
    color: #000000;
    text-decoration: none;
  
}
.portfolio {
  display: flex;
  gap: 111px;
  align-items: center;
  padding: 60px;

}
main {
  max-width: 520px;
  margin-left: 70px;
  margin-top: 0;   
}
.portfolio img {
  width: 250px;
  border-radius: 50%;
  margin-top: 0;   
}
main h1{
  color: #21243D;
  padding-bottom: 10px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;   
}
main p{
    color: #21243D;
    padding-bottom: 20px;
    line-height: 1.1;
}
main button{
    background-color: #FF6464;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
}
img{
    display: flex;
    flex-direction: column;
}
.recent {
    background-color: #edf3f7;
    padding: 60px 0;
}
.container {
    width: 80%;
    margin: auto;
}
.recent-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.recent-header h3{
    color: #21243D;
}
.recent-header a{
    text-decoration: none;
    color: #00A8CC;
}
.posts {
    display: flex;              
    gap: 30px;                  
}
.card {
    flex:1;
    background: white;
    padding: 30px;
    width: 48px;             
    border-radius: 6px;  
}
.meta {
    color: #21243D;
    margin: 15px 0;
}
.featured{
    padding: 60px 20px;
}
.featured-wrapper{
    max-width: 900px;
    margin: auto;
}
.featured-title{
    font-size: 22px;
    margin-bottom: 30px;
}
.work{
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
}
.work-img{
    width: 240px;
    height: 170px;
    object-fit: cover;
    border-radius: 6px;
}
.work-content h3{
    font-size: 24px;
    margin-bottom: 10px;
}
.work-info{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}
.year{
    background: #142850;
    color: white;
    padding: 3px 12px;
    border-radius: 20px;
    font-size: 14px;
}
.category{
    color: gray;
}
.work-content p{
    color: #444;
    line-height: 1.6;
}
hr{
    border: none;
    border-top: 1px solid #ddd;
    margin: 30px 0;
}

.footer{
    background-color: #FFFFFF;
    text-align: center;
    padding: 20px 10px; 
}

.footer p{
    color: #21243D;
    font-size: 20px;
    margin-bottom: 50px;
}
.footer nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

